/* // Normalizando hoja de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* estilos body */
body {
  width: 100%;
  height: auto;
  background-color: #0d0c0c;
}
/* estilizando header y nav */
.header {
  width: 100%;
  background-color: #0d0c0c;
  height: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-nav {
  width: 50%;
  display: flex;
  justify-content: center;
}
.content-nav ul {
  width: 60%;
  display: flex;
  background-color: #1e1e1e;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  border-bottom: 2px solid #d2ce70;
}
.content-nav ul li {
  list-style-type: none;
}
.content-nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
/* estilizando el main */
.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.cont {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* content main */
.content-main {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}
/* contenedor perfil imagen informacion cv */
.perfil {
  width: 85%;
  height: 240px;
  display: flex;
  justify-content: space-between;
  border-right: 18px solid #d2ce70;
  border-radius: 10px 10px 0px 0;
}
.info-perfil {
  width: 60%;
  display: flex;
  gap: 1rem;
}
.foto-perfil {
  width: 180px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.container-info {
  display: flex;
  height: 25vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 0.7rem;
}
.encabezados-perfil {
  text-align: center;
}
.titulo {
  font-size: 2.8rem;
  font-weight: bold;
}
.profesion {
  font-weight: 500;
}
.ciudad {
  font-weight: 100;
}
.conten-icons {
  display: flex;
  gap: 1.5rem;
}
.conten-icons img {
  width: 33px;
}
.cont-cv {
  height: 240px;
  width: 30%;
  display: flex;
  justify-content: end;
  border-bottom: 18px solid #d2ce70;
  border-radius: 10px 10px 0 10px;
}
.cv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 120px;
}
.cv img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}
/* contenedor descripcion */

.descripcion {
  width: 90%;
  height: 240px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-left: 18px solid #d2ce70;
  border-radius: 10px 0 0 10px;
}
.titulo-descripcion {
  margin-left: 100px;
  font-size: 2.7rem;
  color: white;
}
.titulo-descripcion span {
  color: #d2ce70;
  font-size: 3rem;
}
.descripcion-perfil {
  width: 95%;
  text-align: center;
  display: flex;
  padding-left: 30px;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
}
/* contenido herramientas de trabajo */
.herramientas {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.descripcion-herramientas {
  width: 80%;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  color: #d2ce70;
}
.cont-img-herramientas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50%;
  height: auto;
  gap: 1rem;
  padding: 0.5rem;
}
.cont-img-herramientas img {
  width: 90px;
  height: 90px;
}

/* contenido proyectos  */
.proyectos {
  width: 100%;
  display: flex;
  height: auto;
  justify-content: center;
  padding-bottom: 1rem;
  border-bottom: 5px solid #d2ce70;
}
.titulo-proyectos {
  text-align: center;
  color: white;
  width: 80%;
  font-size: 2rem;
  padding: 1rem;
}
/* estilos proyectos */
.container-cards {
  width: 100%;
  padding-top: 30px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
}
.card {
  width: 35%;
  height: auto;
  border-radius: 10px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-bottom: 3px solid #d2ce70;
}
.card h6 {
  color: #d2ce70;
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  border-radius: 10px;
}
.cont-img-card {
  width: 50%;
  height: 25.8vh;
}
.card img {
  width: 85%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 10px 0 0;
}
.section-card {
  display: flex;
  width: 90%;
}
.section-card article {
  display: flex;
  flex-direction: column;

  width: 50%;
  gap: 0.4rem;
}
.section-card ul {
  display: flex;
  justify-content: space-around;
  gap: 0.4rem;
}
.section-card ul li {
  list-style-type: none;
  font-size: 10pt;
  color: #d2ce70;
  padding: 0.4rem;
  background-color: #333334;
  border-radius: 10px;
}
.subtitulo-card {
  color: white;
  font-size: 1.2rem;
}
.descripcion-card {
  color: white;
  font-size: 0.8rem;
  margin-left: 0.2rem;
}
.cont-experiencia {
  width: 90%;
  height: auto;
  display: flex;
  gap: 3rem;
  padding: 1rem;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}
.titulo-experiencia {
  color: white;
  font-size: 2.3rem;
  padding-top: 2rem;
}
.experiencias {
  /* background-color: aqua; */
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-left: 10px solid #d2ce70;
  padding-left: 1rem;
}

.experiencias .disponible {
  display: flex;
  justify-content: end;
  font-weight: 800;
  font-size: 0.8rem;
  color: white;
}
.descripction-experiencias {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.descripction-experiencias .fecha {
  font-size: 0.7rem;
  color: white;
}
.descripction-experiencias h4 {
  text-align: center;
  font-size: 1.3rem;
  color: #d2ce70;
}
.descripction-experiencias h6 {
  text-align: center;
  font-size: 0.8rem;
  color: white;
}
.descripction-experiencias .descripcion-experiencia-text {
  padding: 1rem;
  color: white;
}
.cont-form {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenido-formulario {
  background-color: rgb(65, 65, 65, 0.5);
  width: 70%;
  height: 460px;
  gap: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-right: 10px solid #d2ce70;
  padding: 1rem;
}
.titulo-formulario {
  width: 70%;
  text-align: center;
  padding: 0.4rem;
  font-size: 2.5rem;
  color: #d2ce70;
  border-bottom: 2px solid #1e1e1e;
}
form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
fieldset {
  display: flex;
  border: none;
  gap: 1rem;
}
label {
  color: #d2ce70;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}
.contenido-formulario input {
  background-color: #828282;
  border: none;
  padding: 0.3rem;
}
textarea {
  background-color: #828282;
  border: none;
}
.btn-contacto {
  background-color: #d2ce70;
  border: none;
  width: 70%;
  padding: 0.6rem;
  font-weight: 700;
  font-size: 1rem;
}
footer {
  display: flex;
  background-color: #d2ce70;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 1rem;
}
.lis {
  width: 100%;
  color: #000000;
  text-align: end;
  padding-right: 15px;
  padding-top: 10px;
}
.contenido-footer{
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: auto;
}

.redes{
  width: 40%;
  border-bottom: 1px solid #000000;
  padding-bottom: .5rem;
}
.redes
.nav-footer{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: .9rem;
}
.enlaces-nav-footer{
  color: black;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.2rem;
}
.enlaces-nav-footer:hover{
  color: aliceblue;
}
